@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.DropdownHeader1 {
  width: fit-content;
  .Drop {
    padding: 5px;
    width: 100%;
    .Title {
      height: 35px;
      text-align: center;
      .Outicon {
        width: 36px;
        margin-top: 3px;
        @include responsive_mobile_m() {
          margin-top: 6px;
        }
        .icon1 {
          font-size: 26px;
          @include responsive_mobile_l() {
            font-size: 22px;
          }
          @include responsive_mobile_m() {
            font-size: 20px;
          }
        }
      }
    }
    .children {
      box-shadow: 0 0 7px $black;
      border-radius: 6px;
      background-color: $white;
      @include responsive_medium() {
        z-index: -1;
        display: none;
      }
    }
  }
}

.Love {
  width: 100%;
  padding: auto;
  .header {
    font-size: medium;
    font-weight: 600;
    padding-bottom: 20px;
  }

  .box1 {
    text-align: center;
    font-size: small;
    font-weight: 600;
    padding-bottom: 15px;
  }
  .LoveList{
    .tagImg{}
    .contentLoveList{
      .headerProduct{
        font-weight: 600;
      }
      .contentProduct{
      }
      .priceProduct{
        font-weight: 600;
      }
      .headerProduct,.contentProduct,.priceProduct{
        font-size: 11px;
        padding: 1px 5px;
      }
      &:hover{
        .headerProduct{
          text-decoration: underline;
        }
        .contentProduct{
          text-decoration: underline;
        }
      }
    }
    .outButton{
    }
  }
}