@import "../../styles/variables";
@import "../../styles/mixins";

.Layout {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .Body {
    flex: 1;
  }
  .Footer {
    border-bottom: 1px solid;
  }
}