<header class="header">
  <!-- Top Navigation -->
  <div class="top-nav row justify-between">
    <div class="left col-7">
      <img src="assets/images/steam-logo.png" class="logo" alt="Steam" />

      <nav>
        <a class="active">STORE</a>
        <a>COMMUNITY</a>
        <a>ABOUT</a>
        <a>SUPPORT</a>
      </nav>
    </div>

    <div class="right col-4">
      <button class="install-btn">Install Steam</button>

      <a>sign in</a>

      <span>|</span>

      <a>language ▾</a>
    </div>
  </div>

  <!-- Bottom Navigation -->
  <div class="bottom-nav row">
    <div class="menu">
      <span>Browse <i class="bi bi-chevron-down icon-chevron"></i></span>
      <span
        >Recommendations <i class="bi bi-chevron-down icon-chevron"></i
      ></span>
      <span>Categories <i class="bi bi-chevron-down icon-chevron"></i></span>
      <span>Ways to Play <i class="bi bi-chevron-down icon-chevron"></i></span>
      <span
        >Special Sections <i class="bi bi-chevron-down icon-chevron"></i
      ></span>
    </div>

    <div class="search">
      <input type="text" placeholder="Search the store" />

      <button><i class="bi bi-search" style="font-size: 15px"></i></button>
    </div>
  </div>
</header>
