@import "../../styles/variables";
@import "../../styles/mixins";

.Input {
  width: calc(100% - 10px);
  border: 0.1px gray solid;
  padding: 8px 5px;
  border-radius: 5px;

  &:focus-within {
    box-shadow: 0 0 8px $inputFocus;
    /* Larger box-shadow on focus-within */
  }

  .Icon {
    margin: 0 8px;
  }

  .Clear {
    cursor: pointer;

    &:hover {
      color: $gray;
    }
  }

  .InputNumber {
    /* Turn off the spin buttons */
    -moz-appearance: textfield;
    /* Firefox */
    appearance: textfield;
    /* Chrome, Safari, Edge */

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      /* Safari */
      margin: 0;
      /* Remove default margin */
    }
  }

  .InputInside {
    width: 100%;
    border: none;
    background-color: transparent;

    &:focus {
      outline: none; // Remove the focus border
    }
  }
  .ChangeText {
    cursor: pointer;
    color: $yellow;
    &:hover {
      color: $hoverButton;
      text-decoration: underline;
    }
  }
}
