.Order {
  .Title {
    font-size: 24px;
    font-weight: 600;
  }
  .Des {
    margin: 10px 0;
  }
  .InputName {
    margin: 10px 0;
  }

  .Price {
    margin-top: 30px;
  }
  .Input {
    width: 50%;
    input[type="number"] {
      color: white;
    }
  }
  .Select {
    height: 30px;
    width: 51%;
    color: black;
    margin-bottom: 10px;
  }
  .WarpImage {
    height: 70%;
    padding: 10px 0;
    .Image {
      position: relative !important;
    }
  }
}
