<footer class="footer">
  <div class="container row">
    <div class="col">
      <button>STEAM</button>
      <p>2026 Hoang VU Corporation</p>
    </div>
    <div class="row col justify-between">
      <div class="col">
        <p class="footer-title">STEAM</p>
        <p class="footer-link">About Steam</p>
        <p class="footer-link">Steam SSA</p>
        <p class="footer-link">Steamworks</p>
        <p class="footer-link">Steam Distribution</p>
      </div>
      <div class="col">
        <p class="footer-title">HOANG</p>
        <p class="footer-link">About Hoang</p>
        <p class="footer-link">Jobs</p>
        <p class="footer-link">Hardware</p>
      </div>
      <div class="col">
        <p class="footer-title">LEGAL</p>
        <p class="footer-link">Privacy</p>
        <p class="footer-link">Accessibility</p>
        <p class="footer-link">Notives & Policies</p>
      </div>
    </div>
  </div>
</footer>
