HOST_MAIL="smtp.ethereal.email"
MAIL_ADMIN= "elisa28@ethereal.email"
PW_ADMIN= "whhg7qA8sPfQGNCVdk"
NEXT_PUBLIC_BASE_API=http://localhost:8000/api
NEXT_PUBLIC_DOMAIN=http://localhost:3001
NEXT_PUBLIC_WS=http://localhost:8000
# NEXT_PUBLIC_NOTIFICATION_PUBLIC_KEY=BFCJEsXbSWZMRJFU9oTfG_n2-YI0b2W_RqIwzmcrjtHiezJPc01hjEjJqPeA9epQUZ4fQ2ncopEwrFILBByaIkA
# NEXT_PUBLIC_NOTIFICATION_PRIVATE_KEY=6KHcvuX5RHs9aXuALO8QSviLKg9FeMcVFjmXLoIQvFc
# NEXT_PUBLIC_VIETQR_CLIENT_ID=a36b94ee-8272-4662-bd64-3547d9345bd0
# NEXT_PUBLIC_VIETQR_API_KEY=0d5c4dec-faee-4403-83d2-2d0652e8dea3
# NEXT_PUBLIC_VIETABANK_BIN=970427