@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.ModalChat {
  width: 100%;
  padding: auto;
  .header {
    font-size: medium;
    text-align: center;
    font-weight: 600;
    padding-bottom: 20px;
  }

  .box1 {
    text-align: center;
    font-size: small;
    font-weight: 600;
  }
  .box2 {
    .button1 {
      width: 95%;
    }
    .button2 {
      width: 95%;
    }
  }
}
.children4 {
  width: 100%;
  padding: auto;
  .header{
    text-align: center;
    font-size: medium;
    font-weight: 600;
    padding-bottom: 20px;
  }

  .box1 {
    text-align: center;
    font-size: small;
    font-weight: 600;
  }
  .box2 {
    .button1 {
      width: 95%;
    }
    .button2 {
      width: 95%;
    }
  }
}

.Authen {
  position: relative;
  .childrenAuthen {
    background-color: $white;
    max-width: 400px;
    min-width: 500px;
    padding: 15px;
    border-radius: 9px;
    position: absolute;
    box-shadow: 0 0 3px $black;
    max-height: 40vw;
    top: 22vw;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    .headerCreateAcc {
      .textheaderCreateAcc {
        font-weight: 700;
        text-align: center;
      }
    }
    .contentCreateAcc {
      font-size: small;
    }
    .form {
      .row1 {
        .input1row1 {
          width: 46%;
        }
        .input2row1 {
          width: 46%;
        }
      }

      .row5 {
        font-weight: 700;
        text-align: left;
        font-size: small;
      }
      .row1,
      .row2,
      .row3,
      .row4,
      .row5,
      .row7 {
        padding: 8px 0;
      }
    }
    .bottom {
      padding: 12px 0;
      height: 40px;
      width: 50%;
      .buttonResign {
        height: 100%;
      }
    }
  }
}
